@import './colors.css';

.dark-mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 12%;
  width: 74%;
  gap: 2px;
}

.dark-mode-label {
  font-family: "Helvetica-l", sans-serif;
  color: var(--text);
  font-size: 0.7em;
}

#dark-mode-input {
  appearance: none;
  width: 60px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--toggle);
  transition: all 0.3s ease-in-out;
}

#dark-mode-input::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 61px;
  transform: translateY(12%);
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

#dark-mode-input:checked {
  background-color: var(--toggle);
}

#dark-mode-input:checked::before {
  background-color: var(--highlighted);
  left: 98px;
}

@media (max-width: 1024px) {
  .dark-mode {
    justify-content: flex-start;
  }
}