@font-face {
  font-family: "IMFF-b";
  src: url("../../public/fonts/IMFF-b.ttf") format("truetype");
}

@font-face {
  font-family: "IMFF-it";
  src: url("../../public/fonts/IMFF-it.ttf") format("truetype");
}

@font-face {
  font-family: "IMFF-r";
  src: url("../../public/fonts/IMFF-r.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-b";
  src: url("../../public/fonts/Helvetica-b.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-l";
  src: url("../../public/fonts/Helvetica-l.ttf") format("truetype");
}