@import './colors.css';

.login-form-container {
  height: 100vh;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container form {
  width: 20em;
  padding: 2em;
  margin: 0 2em;
  border-radius: 0.1em;
  overflow-x: hidden;
  overflow-y: scroll;
  outline: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
}

.login-form-container .login-form {
  max-width: 400px;
  margin: 40px 0;
  padding: 20px;
  background: var(--background);
  border-radius: 4px;
  box-shadow: 0.3em 0.4em 0.1em 0.3em rgba(0, 0, 0, 0.1);
}

.login-form-container .login-form h3 {
  color: var(--text);
  font-family: "Helvetica-b", sans-serif;
  font-size: 2em;
  margin: 0.2em 0 0.8em 0;
}

.login-form-container .login-form label {
  color: var(--text);
  font-family: "Helvetica-l", sans-serif;
}

.login-form-container input {
  background-color: var(--background);
  outline: 1px solid var(--text);
  color: var(--text);
  border: none;
  border-radius: 2px;
  height: 2em;
  text-align: left;
}

.error-message {
  width: 100%;
  padding: 1em 2em;
}

.disabled-login,
.disabled-login:hover {
  background-color: var(--grey);
}

@media (max-width: 1024px) {
  .login-form-container {
    margin-left: 0px;
  }
}